/* CSS for blogs pages */

.blogs-cont
{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 75px;
    text-align: center;
}

.b-grid-item
{
    padding-bottom: 10%;
}

.b-img-cont
{
    width: 100%;
}

.b-img
{
    width: 100%;
    height: 100%;
}

.blog-title
{
    padding: 5% 0;
}

.blog-subtitle
{
    padding: 0 10%;
}

.blog-date
{
    padding-top: 5%;
}

.wid-btn-cont
{
    justify-content: center;
}

/* Media Queries */
/* md screen size */

@media (max-width: 768px)
{
   .blogs-cont
   {
        max-width: 50%;
   }
}

/* xs screen size*/

@media (max-width: 475px) 
{
    .blogs-cont
    {
        max-width: 80%;
    }
}