/* Css for index.html */

header
{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
}

.h-logo
{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--main-color);
}

.h-list
{
    list-style-type: none;
}

.h-list li 
{
    display: inline;
    padding: 0 10px;
}

.h-list li a
{
    display: inline-block;
    color: var(--main-color);
    opacity: 40%;
    transition: 0.5s;
}

.h-list li a:hover
{
    opacity: 100%;
    transform: scale(1.2);
}

.burger
{
    display: none;
    cursor: pointer;
}

.burger div
{
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

.nav-active
{
    transform: translateX(0%) !important;
}

/* Media Queries */

/* md */
@media (max-width: 768px)
{
    body
    {
        overflow-x: hidden;
    }

    .burger
    {
        display: block;
    }

    .h-list
    {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 12vh;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }

    .h-list a
    {
        opacity: 0;
    }
}

/* xs */
@media (max-width: 475px)
{
    body
    {
        display: none;
    }
}