/* Css for index.html */

@keyframes text-reveal
{
  to
  {
    background-size: 100% 100%;
  }
}

/* Header */

header
{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    z-index: 100;
}

.h-logo
{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--main-color);
}

.h-list
{
    list-style-type: none;
}

.h-list li 
{
    display: inline;
    padding: 0 10px;
}

.h-list li a
{
    display: inline-block;
    color: var(--main-color);
    opacity: 40%;
    transition: 0.5s;
}

.h-list li a:hover
{
    opacity: 100%;
    transform: scale(1.2);
}

.burger
{
    display: none;
    cursor: pointer;
}

.burger div
{
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

.nav-active
{
    transform: translateX(0%) !important;
}

/* Hero */

.hero
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 10%;
}

.blob
{
  position: absolute;
  top: 15%;
  width: 80%;
  height: 90%;
}

.blob:nth-child(2)
{
  filter: blur(50px);
}

.b-txt
{
  font-weight: 550;
  text-align: center;
  background-image: linear-gradient(#e66465, #9198e5);
  color: transparent;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
  font-size: 80px;
  z-index: 2;
  text-transform: capitalize;
}

/* About Me */

.abt-me
{
    padding-right: 10%;
    padding-top: 10%;
}

.sub-heading
{
    padding-bottom: 5%;
    font-size: 25px;
    font-weight: 500;
    color: var(--main-color);
}

.abt-txt-cont
{
    background-color: var(--background-color);
    color: transparent;
    -webkit-background-clip: text;
}

.abt-txt
{
    font-size: 64px;
    font-weight: 500;
    background-image: linear-gradient(90deg, #c72c41, #c72c41);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: text-reveal linear forwards;
    animation-timeline: view(80% 5%);
    display: inline;
}

/* What I Do */

.wid
{
    padding: 0 0 10% 0;
}

.wid .sub-heading
{
    padding-left: 10%;
}

.wid-list
{
    width: 100%;
    animation: left-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.wl-item
{
    font-size: 60px;
    color: var(--main-color);
    padding: 1% 0 1% 10%;
    cursor: pointer;
  
    font-weight: 500;
  
    background-position: right;
  
    animation: left-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}

.wl-item:hover
{
    color: white;
    background: linear-gradient(to right, #c72c41 50%,  white 50%)  left;
    background-size: 200%;
    transition: 1s ease-out;
}

/* Banner */

.banner
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* max-width: 100%; */
}

.pb
{
    font-size: 150px;
    font-weight: 500;
}

.bnr-l
{
  animation: left-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.bnr-r
{
  animation: right-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

/* Projects */

.projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.projects a
{
    /* display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center; */
    display: inline;
}

.pro
{
    animation: bottom-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    opacity: 95%;
    transition: transform 1s;
    width: 60%;
}

.pro:hover
{
    opacity: 100%;
    transform: scale(1.1);
}

.pro-img-cont
{
    line-height: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 5px 2px rgba(42, 42, 42, 0.75);
    -moz-box-shadow: 0px 1px 5px 2px rgba(42, 42, 42, 0.75);
    box-shadow: 0px 1px 5px 1px rgba(42, 42, 42, 0.75);

    max-width: 100%;
    max-height: 100%;
}

.pro-h-img
{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.pro-title
{
  color: var(--main-color);
  font-size: 24px;
  padding: 5px 0;
  font-weight: 500;
}

.pro-subtitle
{
  font-weight: 300;
  color: var(--main-color);
}

/* Media Queries */

/* Header only mq*/
@media (max-width: 768px), (max-width: 475px)
{
    body
    {
        overflow-x: hidden;
    }

    .burger
    {
        display: block;
    }

    .h-list
    {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 12vh;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }

    .h-list a
    {
        opacity: 0;
    }

    .container 
    {
        max-width: 640px;
    }
}

/* md screen size */

@media (max-width: 768px)
{
    .blob
    {
        height: 80%;
        width: 90%;
    }

    .b-txt
    {
        font-size: 10vw;
    }

    .abt-txt
    {
        font-size: 45px;
    }

    .wl-item
    {
        font-size: 40px;
    }

    .pb
    {
        font-size: 90px;
    }
}

/* xs screen size*/

@media (max-width: 475px) 
{
    .container 
    {
      width: 100%;
      padding-bottom: 25%;
    }

    .blob
    {
        height: 80%;
        width: 90%;
    }

    .b-txt
    {
        font-size: 40px;
    }

    .abt-txt
    {
        font-size: 35px;
    }

    .wid
    {
        padding-bottom: 25%;
    }

    .wid .sub-heading
    {
    padding-left: 3rem;
    }

    .wl-item
    {
        font-size: 25px;
        padding-left: 3rem;
    }

    .pb
    {
        font-size: 60px;
    }

    .projects
    {
        gap: 100px;
    }
}