/* Common Css for the site */

:root
{
    --background-color: white;
    --main-color: black;
}

.dark-mode
{
  --background-color: black;
  --main-color: white;
}

.vol
{
  
}

.figtree-fnt 
{
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@keyframes left-appear
{
  from
  {
    opacity: 0;
    transform: translateX(-100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-appear
{
  from
  {
    opacity: 0;
    transform: translateX(100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes bottom-appear
{
  from
  {
    scale: 0.5;
  }
  to
  {
    scale: 1;
  }
}

@keyframes bottom-disappear
{
  from
  {
    scale: 1;
  }
  to
  {
    scale: 0.1;
  }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

a
{
    text-decoration: none !important;
}
  
body
{
    font-family: "Figtree", serif;
    overflow-x: hidden;
    transition: 1s;
    background-color: var(--background-color);
    color: var(--main-color);
}

/* Container */

.container 
{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 15%;
}

/* Footer */

.footer
{
  display: inline;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0 0 5% 5%;
  z-index: 1;
}

.f-socials
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.f-logo
{
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
  opacity: 40%;
  transition: 0.5s;
}

.f-logo:hover
{
  opacity: 100%;
  transform: scale(1.2);
}

/* Tools */

.tools
{
  display: inline;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0 5% 5% 0;
  z-index: 1;
}

#theme-switch
{
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

#theme-switch svg
{
  fill: var(--main-color);
  transition: 1s;
  opacity: 40%;
}

#theme-switch svg:hover
{
  transform: scale(1.2);
  opacity: 100%;
}

#theme-switch svg:last-child
{
  display: none;
}

.dark-mode #theme-switch svg:first-child
{
  display: none;
}

.dark-mode #theme-switch svg:last-child
{
  display: block;
}

/* Volume */
#vol-switch
{
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}

#vol-switch svg
{
  fill: var(--main-color);
  transition: 1s;
  opacity: 40%;
}

#vol-switch svg:hover
{
  opacity: 100%;
  transform: scale(1.2);
}

#vol-switch svg:last-child
{
  display: none;
}

.vol #vol-switch svg:first-child
{
  display: none;
}

.vol #vol-switch svg:last-child
{
  display: block;
}

@media (max-width: 475px) 
{
    .container 
    {
      width: 100%;
      padding-bottom: 25%;
    }

    header
    {
      position: inherit;
    }

    .h-logo
    {
      font-size: 15px;
    }
}