/* Common Css for the site */

:root
{
    --background-color: white;
    --main-color: black;
}

.figtree-fnt 
{
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@keyframes left-appear
{
  from
  {
    opacity: 0;
    transform: translateX(-100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-appear
{
  from
  {
    opacity: 0;
    transform: translateX(100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a
{
    text-decoration: none !important;
}
  
body
{
    font-family: "Figtree", serif;
    overflow-x: hidden;
}